<div class="feature-highlight index-{{include.id}}"
     onclick="selectFeature('{{include.id}}', '{{include.section}}');"
     ga-on="click"
     ga-event-category="Internal click"
     ga-event-action="Homepage feature"
     ga-event-label="Collaboration Awareness">
  <div class="feature">
    <img class="svg-icon" src="{{ include.iconUrl }}" alt="awareness">
    <h3>{{ include.title }}</h3>
    <div class="overview">{{ include.description}}</div>
    <i class="fa fa-chevron-down"></i>
    <i class="fa fa-chevron-up"></i>
  </div>
</div>