<div class="container-fluid feature-detail feature-hidden index-{{include.id}}">
  <div class="row">
    <div class="col-md-5 description">
      <h3>{{ include.title }}</h3>
      {{ include.description }}
    </div>

    {% if include.image %}
    <div class="col-md-7 image">
      <img src="{{include.image}}" alt="{{include.title}}"/>
    </div>
    {% else if include.code %}
    <div class="col-md-7 code">
      <pre class="code-lines-wrapper"><code class="javascript">{{include.code}}</code></pre>
    </div>
    {% endif %}
  </div>
</div>