<!-- Start Header -->
<div id="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Start Logo / Text -->
      <div class="navbar-brand logo">
        <a href="/">
          <img src="/assets/img/convergence-logo.png" alt="logo">
        </a>
        <div class="text">
          <div class="main">
            <a href="/">Convergence</a>
          </div>
          <div class="open-source">
            <a href="//github.com/convergencelabs">Now open source!</a>
          </div>
        </div>
      </div>
      <!-- End Logo / Text -->
    </div>
    <!-- Start Navigation -->
    <div class="navigation navbar-collapse collapse">
      <ul class="nav navbar-nav menu-right">
      <li><a href="/learn/">Learn</a></li>
      <li><a href="/support/">Support</a></li>
      <li><a href="//docs.convergence.io/guide/">Docs</a></li>
      <li><a class="btn btn-primary" href="/start/">Get Started</a></li>
      <li><a class="btn btn-info" href="/contact-sales/">Contact Sales</a></li>
      </ul>
    </div>
    <!-- End Navigation  -->
    </div>
  </nav>
</div>
<!-- End Header -->
