<!-- Start Header -->
<div id="header">
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <!-- Start Logo / Text -->
    <a class="navbar-brand logo" href="/">
     <img src="/assets/img/convergence-logo.png">
     <span>Convergence</span>
    </a>
    <!-- End Logo / Text -->
   </div>
   <!-- Start Navigation -->
   <div class="navigation navbar-collapse collapse">
    <ul class="nav navbar-nav menu-right">
     <li><a href="/learn/">Learn</a></li>
     <li class="hide-smaller"><a href="/community/">Community</a></li>
     <li><a href="/support/">Support</a></li>
     <li><a href="/pricing/">Pricing</a></li>
     <li><a class="btn btn-primary" href="/start/">Get Started</a></li>
     <li><a class="btn btn-info" href="/contact-sales/">Contact Sales</a></li>
    </ul>
   </div>
   <!-- End Navigation  -->
  </div>
 </nav>
</div>
<!-- End Header -->

