@import "features";

.alpha-invite {
  background-color: #233444;

  padding-top: 20px;
  padding-bottom: 40px;

  h2 {
    font-weight: 700;
    color: #FFF;
    margin: 20px 0 0 40px;
  }

  a {
    margin: 20px 0 0 40px;

    i.fa {
      margin-left: 10px;
    }
  }
}


/* ==========================================================================
Intro
========================================================================== */
#intro {
  margin-bottom: 40px;

  .headline {

  }
}

/* ==========================================================================
Sign Up
========================================================================== */
#sign-up {
  background: #0491dd;
  .headline {
    margin-bottom: 0;
  }

  padding-bottom: 50px;
}

/* ==========================================================================
getting-started
============================================================================ */
#getting-started {
  .headline {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .item {
    margin-bottom: 40px;
    position: relative;
    border: 1px solid #E5E5E5;
    background-color: #FFF;
    padding: 20px;
    border-radius: 3px;
    min-height: 200px;

    h3 {
      padding: 10px 0 10px 0;
    }

    p {
      clear: both;
    }

    .detail {
      text-align: justify;
    }

    img {
      float: left;
      padding: 0 30px 0 0;
      height: 150px;
      max-width: 100%;
    }

    a {
      margin-top: 25px;
      float: right;
    }
  }
}
.max1200 {
  max-width: 1200px;
  margin: auto;
}


.hide {
  display: none;
}

.convergence-list {
  margin: 30px 0 30px 0;

  img {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 479px) {
  #getting-started {
    .item {
      img {
        float: none;
        padding: 0;
        height: auto;
      }
    }
  }
}