#small-banner {
  div.page-header-bg {
    height: 200px;
    background: url(../img/page-header.jpg);
  }

  .page-title {
    position: absolute;
    top: 120px;

    color: white;
    margin-left: 50px;
  }
}

#content {
  padding: 30px;
}