$lightgrey: #dddddd;
$textcolor: #3b3b3b;

/* Styles for page */
.accordian-container {
  margin: auto;
}

.toggle {
  &:last-child {
    border-bottom: 1px solid $lightgrey;
  }

  .toggle-title {
    position: relative;
    display: block;
    border-top: 1px solid $lightgrey;
    margin-bottom: 6px;

    h3 {
      font-size: 18px;
      margin: 0px;
      line-height: 1;
      cursor: pointer;
      font-weight: 200;

    }

    &.active h3 {
    }
  }
  .toggle-inner {
    padding: 7px 25px 10px 25px;
    display: none;
    margin: -7px 0 6px;
    div {
      max-width: 100%;
    }
  }
  .toggle-title {
    .title-name {
      display: block;
      padding: 18px 20px 10px;
    }
    a i {
      font-size: 22px;
      margin-right: 5px;
    }
    i {
      position: absolute;
      background: url('/assets/img/accordion_plus_minus.png') 0px -24px no-repeat;
      width: 24px;
      height: 24px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 20px;
      right: 0;
      top: -4px;
    }
    &.active i {
      background: url('/assets/img/accordion_plus_minus.png') 0px 0px no-repeat;
    }
  }
}