
/* ==========================================================================
Color Customizations
========================================================================== */
.bg-white {
  background-color: #FFF;
}

.bg-grey {
  background-color: #FAF7F8;
}

.bg-grey {
  background-color: #FAFAFA;
}

.bg-grey2 {
  background-color: #F5F5F5;
}

.bg-blue {
  background-color: #08b4da;
}

.bg-dark {
  background-color: #333;
}

.bg-blue-pattern {
  background-color: #08b4da;
  background: url(../img/blue-square.png);
}

.bg-testimonial {
  background: url(../img/headshot-bg.jpg);
}

.blue {
  color: #08b4da;
}

.white-text {
  color: #FFF;
}

.white-text p {
  color: #FFF;
}

.white-text h3 {
  color: #FFF;
}

.white-text h2 {
  color: #FFF;
}

.white-text li {
  color: #FFF;
}