
/* ==========================================================================
 Navigation
========================================================================== */
.menu-right {
  float: right;
}

.navbar-inverse {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  display: block;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

.navbar-inverse .navbar-toggle {
  background: #08b4da;
  border: none;
}

.navbar-nav {
  margin: 0;
}

.scroll-fixed-navbar {
  padding-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar > .container .navbar-brand {
  margin-left: 0;
}

.navbar-brand {
  height: auto;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #0fb3da;
}

.navbar, .navbar-inverse {
  .navbar-nav > li > a.btn {
    color: white;
    margin: 10px 0 0 10px;
    padding: 4px 20px;
  }
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;

  .navbar-nav > li > a.btn {
    color: white;
    padding: 4px 20px;
    margin: 10px 15px;
  }
}

.scroll-fixed-navbar {
  padding: 10px 0;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.scroll-fixed-navbar .navbar-nav > li > a {
  color: #333;
}

.scroll-fixed-navbar .navbar-nav > li > a:hover,
.scroll-fixed-navbar .navbar-nav > li.active > a,
.scroll-fixed-navbar .navbar-nav > li.active > a:hover {
  color: #00a8d6;
}

.scroll-fixed-navbar .navbar-collapse {
  background-color: #fff;
}

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent;
  padding: 10px;
  margin: 13px 15px 13px 0;
  border: none;
  color: #fff;
  border: 2px solid #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(0, 0, 0, 0.1);
}

/* ==========================================================================
Logo
============================================================================= */
.navbar-inverse .navbar-brand {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
}

.scroll-fixed-navbar.navbar-inverse .navbar-brand {
  color: #1a1a1a;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  margin-left: 0;
}

.logo {
  user-select: none;

  img {
    height: 45px;
    display: inline;
  }

  span {
    font-family: "CenturyGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    top: 4px;
    left: 4px;
    color: #007bc3;
    text-transform: uppercase;
  }
}

/* ==========================================================================
Banner
========================================================================== */
#banner {
  padding-top: 90px;
  padding-bottom: 70px;
  background: #1a1a1a;
  background-image: url(/assets/img/banner/black-blue-hex.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.banner-content {
  clear: both;
  padding-top: 40px;
  text-align: center;
}

.banner-content h1 {
  font-size: 60px;
  color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.banner-content h2 {
  color: #FFF;
  margin-bottom: 35px;
}

.banner-content h3 {
  color: #FFF;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.banner-content p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 100px auto;
  max-width: 850px;
  font-size: 20px;
  line-height: 27px;
}

.banner-list {
  margin-bottom: 20px;
}

.banner-list li {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}

.banner-list li i {
  margin-right: 10px;
  color: #08b4da;
}