---
---

@import "theme/main.scss";

.flex-grid {
  display: flex;

  .col {
    flex: 1;
    align-content: stretch;
  }

  .boxed {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 30px;
  }
}

.flex-grid.halves {
  justify-content: space-between;

  .col {
    flex: initial;
    width: 48%;
  }
}

.grid-page {
  margin-top: 30px;
}


.support-page {

  .support-tier {
    font-size: 16px;
    background-color: #b6d5e3;
    border-radius: 8px;
    color: #333;
    margin-bottom: 3em;

    .tier-header {
      text-align: center;
      border-bottom: 1px solid #999;
      padding-top: 1em;
      margin: 0 2em;
    }

    .tier-features {
      padding: 1em 2em;

      .plus {
        padding-bottom: 1em;
        font-style: italic;
      }

      ul {
        padding-left: 1em;
        margin-left: 0;

        li {
          padding-bottom: 1em;
        }
      }
    }
    .tier-price {
      background: #94bbcc;
      padding: 1em;
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;;

      .support-picker {
        width: 200px;
        margin: 0 auto;

        .picker-values-label {
          display: flex;
          justify-content: space-between;
        }

        .price {
          padding-top: 1em;
          font-size: 20px;
        }
      }

      .cta {
        margin: 2em 0 1em;
      }

      .btn {
        padding: 0.75em 1.5em;
        background-color: #1b2d40;
      }
    }

    &.contrast {
      background-color: #1b2d40;
      color: #fff;
      h2 {
        color: #fff;
      }
      .tier-price {
        background-color: #0e2033;
        
        .btn {
          background-color: #fff;
          color: #7a7a7a;
        }
      }
    }
  }

  th:not(:first-child) {
    border-top: 1px solid #ddd;
  }

  th:nth-child(2) {
    border-left: 1px solid #ddd;
    background: #fafafa;
  }

  th:nth-child(3) {
    background: #d7ffeb;
  }

  th:nth-child(4) {
    background: #c8e6ff;
  }

  th:nth-child(5) {
    background: #ffe5ce;
  }

  td, th {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
  }

  td:first-child {
    font-weight: bold;
    border-left: 1px solid #ddd;
    text-align: left;
  }

  tbody tr:last-child {
    td:first-child {
      border-left: none;
      border-bottom: none;
    }

    font-weight: bold;
  }

  span.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;

    &.community {
      background-color: #bbb;
    }

    &.standard {
      background-color: #1fbb36;
    }

    &.premium {
      background-color: #0e54bb;
    }

    &.enterprise {
      background-color: #ff871e;
    }
  }

  .fa {
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: darkblue;
    }
  }

  /* Tooltip container */
  .icon-tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .icon-tooltip .tooltiptext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    visibility: hidden;
    width: 350px;
    background-color: #e8e8e8;
    color: #000;
    text-align: justify;
    padding: 8px;
    border: 1px solid darkgray;
    border-radius: 6px;

    -webkit-box-shadow: 4px 4px 10px 0px rgba(168,168,168,1);
    -moz-box-shadow: 4px 4px 10px 0px rgba(168,168,168,1);
    box-shadow: 4px 4px 10px 0px rgba(168,168,168,1);

    position: absolute;
    z-index: 1;

    top: -10px;
    left: 30px;
  }

  .icon-tooltip:hover .tooltiptext {
    visibility: visible;

  }
}

.support-call-to-action {
  border: 1px solid #ddd;
  padding: 30px;
  margin-top: 30px;
}



/* ==========================================================================
Media Queries
 ========================================================================== */

@media only screen and (max-width: 1200px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-collapse .navbar-nav > li > a.btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 992px) {
  #header .navigation .hide-smaller {
    display: none;
  }
  #header .container {
    width: auto;
  }
  .navbar-collapse .navbar-nav > li > a.btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 110px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 890px) {
  .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .clear-small {
    clear: both;
  }
}

/* ------ Mobile Landscape Size to Tablet Portrait (devices and browsers) ------*/
@media only screen and (max-width: 767px) {
  .flex-grid {
    display: block;
  }
  .flex-grid.halves {
    .col {
      width: 100%;
    }
  }

  .navbar-inverse {
    padding: 0;
  }
  .navbar > .container .navbar-brand {
    margin-left: 15px;
    color: #1a1a1a;

    img {
      margin: 10px 0;
      height: 38px;
    }
  }
  .menu-right {
    float: none;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #00A8D6;
  }
  .navbar-collapse .navbar-nav > li > a.btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  .section {
    padding: 70px 0;
  }
  .main-point {
    margin-bottom: 40px;
  }
  .video-container {
    margin-bottom: 40px;
  }
  .img-thumbnail {
    margin: 0;
  }
  .terms-privacy { 
    text-align: left;
  }
  .alpha-invite {
    h2, a { margin: 10px 0; }
  }
}

/* ------ Mobile Portrait Size to Mobile Landscape Size (devices and browsers) ------*/
@media only screen and (max-width: 479px) {
  h2 {
    font-size: 28px;
  }
  h4 {
    font-size: 16px;
  }
  img {
    float: none;
    display: block;
    margin: 20px auto;
  }
  iframe {
    max-height: 200px;
  }
  .logo {
    .text {
      .main {
        font-size: 26px;
      }
      .open-source {
        font-size: 12px;
      }
    }
  }
  .banner-content {
    padding-top: 0;

    h1 {
      font-size: 44px;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
    }
    h3 {
      line-height: 2em;
      margin-bottom: 2em;
    }
    .open-source {
      vertical-align: baseline;

      .positioned {
        margin-top: -25px;
        color: #08b4da;
      }
    }
  }
  .headline {
    margin: 20px 0;
  }
  .headline h1 {
    font-size: 30px;
  }
  .headline h2 {
    font-size: 28px;
  }
  .headline p {
    margin-bottom: 20px;
  }
  .section {
    padding: 20px 0;
  }
  .separator60 {
    margin: 30px 0;
  }
  .steps-list {
    margin-bottom: 30px;
  }
  .main-point h3 {
    font-size: 20px;
  }
  .video-container {
    margin-bottom: 40px;
  }
  .img-thumbnail {
    margin: 0;
  }
  .testimonial-inner img {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact-list, .quick-links {
    margin-bottom: 30px;
  }
  #small-banner .page-title {
    top: 100px;
    font-size: 36px;
  }
  #content { 
    padding: 0;
  }
  .copyright {
    float: none;
  }
  .convergence-list { 
    margin: 10px 0;
  }
  .demo-content img {
    margin: 0;
  }
  .footer.footer-top { padding-top: 20px; }
  .footer h3 { margin-top: 30px; }
}

@media only screen and (max-width: 370px) {
  .navbar > .container .navbar-brand {
    .text .main { 
      font-size: 24px;
      padding-bottom: 2px;
    }

    img {
      height: 34px;
      margin: 12px 0 8px;
    }
  }
}
