---
title: Frequently Asked Questions
permalink: /faq/
layout: page
---
<section>
  <div class="container">
    <div class="headline">
      <p>We get asked a lot of questions. You might find the answer to yours below!</p>
    </div>

    <div class="faq-groups" id="faqs">
    {% for group in site.data.faqs %}
      {% include faq-group.html group=group %}
    {% endfor %}
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    Convergence.initAccordion("faqs");
  });
</script>