---
title: Learn
permalink: /learn/
layout: page
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <p>From new developer to enterprise architect, we have something for you.  Further questions? Reach out to the community on our <a href="https://forum.convergence.io">forum</a> or <a href="mailto:contact@convergence.io">contact us</a> directly.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid learn">
    {% for item in site.data.learn %}
    {% include learn-box.html learn=item %}
    {% endfor %}
  </div>
</section>
