---
title: Learn
permalink: /learn/
layout: page
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <p>From new developer to enterprise architect, we have something for you.  Further questions? Reach out to the community on our <a href="https://forum.convergence.io">forum</a> or <a href="mailto:contact@convergence.io">contact us</a> directly.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container learn">
    <div class="row">
      {% for item in site.data.learn %}
      <div class="col-sm-6">
        {% include learn-box.html learn=item %}
      </div>
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 and forloop.last != true %}
    </div>
    <div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
