---
title: Support Subscriptions
permalink: /support/
layout: page
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <p>For mission critical applications we recommend a commercial support subscription from Convergence Labs.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <table class="support-table">
          <thead>
            <tr>
              <th></th>
              <th>Community</th>
              <th>Standard</th>
              <th>Premium</th>
            </tr>
          </thead>
          <tbody>
          {% for feature in site.data.feature-comparison %}
            <tr>
              <td>
                <span>{{feature.title}}</span>
                <span class="fa fa-info-circle icon-tooltip">
                  <span class="tooltiptext">{{feature.description}}</span>
                </span>
              </td>
              <td>{% if feature.community %}<span class="dot community"/>{% endif %}</td>
              <td>{% if feature.standard %}<span class="dot standard"/>{% endif %}</td>
              <td>{% if feature.premium %}<span class="dot premium"/>{% endif %}</td>
            </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td>Free</td>
            <td>$5,000 / yr</td>
            <td>$10,000 / yr</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="support-call-to-action">
          <p>Signing up for a support subscription is quick and easy. Contact <a href="//convergencelabs.com">Convergence Labs</a> today to see which plan is right for you.
          <p style="text-align: right"><a class="btn btn-primary" href="/contact-sales/">Contact Sales</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="support-call-to-action">
          <h2>Why sign up for support?</h2>
          <ul>
            <li>Real Time Collaboration will be a favorite feature of your customers.</li>
            <li>You'll get priority support for any issues that arise.</li>
            <li>High priority on feature requests, examples, and custom integrations.</li>
            <li>Early access to our tech-preview releases.</li>
            <li>Get assistance on upgrades, high-availability deployments, etc.</li>
          </ul>
          <p style="text-align: right"><a class="btn btn-primary" href="/contact-sales/">Contact Sales</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
